<li><a href="#">Static</a></li>
<li><a href="#">Blink</a></li>
<li><a href="#">Breath</a></li>
<li><a href="#">Color Wipe</a></li>
<li><a href="#">Color Wipe Inverse</a></li>
<li><a href="#">Color Wipe Reverse</a></li>
<li><a href="#">Color Wipe Reverse Inverse</a></li>
<li><a href="#">Color Wipe Random</a></li>
<li><a href="#">Random Color</a></li>
<li><a href="#">Single Dynamic</a></li>
<li><a href="#">Multi Dynamic</a></li>
<li><a href="#">Rainbow</a></li>
<li><a href="#">Rainbow Cycle</a></li>
<li><a href="#">Scan</a></li>
<li><a href="#">Dual Scan</a></li>
<li><a href="#">Fade</a></li>
<li><a href="#">Theater Chase</a></li>
<li><a href="#">Theater Chase Rainbow</a></li>
<li><a href="#">Running Lights</a></li>
<li><a href="#">Twinkle</a></li>
<li><a href="#">Twinkle Random</a></li>
<li><a href="#">Twinkle Fade</a></li>
<li><a href="#">Twinkle Fade Random</a></li>
<li><a href="#">Sparkle</a></li>
<li><a href="#">Flash Sparkle</a></li>
<li><a href="#">Hyper Sparkle</a></li>
<li><a href="#">Strobe</a></li>
<li><a href="#">Strobe Rainbow</a></li>
<li><a href="#">Multi Strobe</a></li>
<li><a href="#">Blink Rainbow</a></li>
<li><a href="#">Chase White</a></li>
<li><a href="#">Chase Color</a></li>
<li><a href="#">Chase Random</a></li>
<li><a href="#">Chase Rainbow</a></li>
<li><a href="#">Chase Flash</a></li>
<li><a href="#">Chase Flash Random</a></li>
<li><a href="#">Chase Rainbow White</a></li>
<li><a href="#">Chase Blackout</a></li>
<li><a href="#">Chase Blackout Rainbow</a></li>
<li><a href="#">Color Sweep Random</a></li>
<li><a href="#">Running Color</a></li>
<li><a href="#">Running Red Blue</a></li>
<li><a href="#">Running Random</a></li>
<li><a href="#">Larson Scanner</a></li>
<li><a href="#">Comet</a></li>
<li><a href="#">Fireworks</a></li>
<li><a href="#">Fireworks Random</a></li>
<li><a href="#">Merry Christmas</a></li>
<li><a href="#">Fire Flicker</a></li>
<li><a href="#">Fire Flicker (soft)</a></li>
<li><a href="#">Fire Flicker (intense)</a></li>
<li><a href="#">Circus Combustus</a></li>
<li><a href="#">Halloween</a></li>
<li><a href="#">Bicolor Chase</a></li>
<li><a href="#">Tricolor Chase</a></li>
<li><a href="#">TwinkleFOX</a></li>
<li><a href="#">Rain</a></li>
<li><a href="#">Custom 0</a></li>
<li><a href="#">Custom 1</a></li>
<li><a href="#">Custom 2</a></li>
<li><a href="#">Custom 3</a></li>
<li><a href="#">Custom 4</a></li>
<li><a href="#">Custom 5</a></li>
<li><a href="#">Custom 6</a></li>
<li><a href="#">Custom 7</a></li>
